GOOGLE_CLIENT_ID="135673746790-2quan9eadpgj4m3bsu47is9g2bqhuffq.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET=""
APIFY_API_TOKEN=""
APIFY_WEBHOOK_SECRET=""
APIFY_WEBHOOK_URL=""

# Meta Instagram API (tester release)
META_GRAPH_API_VERSION="v25.0"
META_FACEBOOK_APP_ID=""
META_FACEBOOK_APP_SECRET=""
META_INSTAGRAM_APP_ID=""
META_INSTAGRAM_APP_SECRET=""
META_OAUTH_REDIRECT_BASE_URL="http://localhost:3000"
# Generate independently with: openssl rand -base64 32
META_TOKEN_ENCRYPTION_KEY=""
META_OAUTH_STATE_SECRET=""
